

.button_prev {
    margin-right: 30px;
    background: transparent;
    color: white;
    font-weight: 800;    border: none;
    font-size: 50px;
}
.button_next {
    background: transparent;
    color: white;
    font-weight: 800;
    border: none;
    font-size: 50px;
    margin-left: 30px;
}

.blur-background {
    backdrop-filter: blur(10px);
}

.Slider {
    width: 100%;
}
.slider_p{
    height: auto;
    width: 70%;
    margin: auto;
    margin-top: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    height: 500px;
    width: 300px;
    z-index: 10;
    transition: ease-in-out ;
    animation-name: slidein ;
    animation-duration: 0.5s ;
    
}

@keyframes slidein {
    from {
      opacity: 0.1;
    }

    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
  
    to {
        opacity:1;
    }
  }
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    position: relative;
    z-index: 10;
}

.info_movie{
    margin-left: -15px;
    padding: 25px 75px;
    background-color: rgba(217, 217, 217, 0.5);
    border: 4px solid #554F95;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_movie h1{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 35px;
}
.info_movie p{
    font-size: 18px;
}

.score{
    top: 5%;
    left: -10%;
    font-size: 12px;
    border-radius: 8px;
    padding: 3px 15px;
    color: white;
    position: absolute;
    background-color: #554F95;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    display: block;
    border: none;
    width: 15;
    height: 15;
}
.buttons_action{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button_buy_t{
    width: 100px;
    background: transparent;
    border: none;
}
@media screen and (max-width: 1500px) {
    .info_movie h1{
        font-size: 25px;
    }
    .info_movie p{
        font-size: 14px;
    }


}

@media screen and (max-width: 1200px) {
    .slider_p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button_next{
        position: absolute;
        top: 300px;
        align-self: flex-end;
    }
    .button_prev {
        position: absolute;
        top: 300px;
        align-self: flex-start;
    }
}

@media screen and (max-width: 800px) {
    .info .info_movie {
        display: none;
    }
    .slider_p {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .img{
        width: 200px;
        height: 350px;
    }
    .button_next {
        top: 30%;
    }
    .button_prev{
        top: 30%;
    }
}
