.padreB {
    margin-top: 300px;
    padding: 30px 60px;
    width: 100%;
    background: #2A303C;
    color: white;

}
.title{
    font-weight: 600;
    font-size: 25px;
}

.content {
    position: relative;
    padding: 35px 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 25px 48px;
    width: 100%;
    height: 100%;
}

.img_pop{
    height: 80%;
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
}

@media screen and (max-width: 1300px) {
    .content {
        padding: 0px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .padreB {
        margin-top: 0px;
    }
}
@media screen and (max-width: 1100px) {
    .content {
        padding: 0px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .content {
        padding: 0px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .content {
        height: auto;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow-x: auto;
        
    }
    .img_pop{
        height: 400px;
        width: 200px;
    }
}


